<!--canvas.html-->
<!DOCTYPE html>
<html lang = en>
<head>
	<title>Silencer</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link href="https://bootswatch.com/4/flatly/bootstrap.min.css" rel="stylesheet" integrity="sha384-+YpxMU1QQywaQtI3dMQAwIcu0vVDuOREjQPC59qblQHg9nTdcrUXMPnanUaldUnY" crossorigin="anonymous">
	<link rel="stylesheet" href="css/index.css">
	<script type = "text/javascript">
		function draw()
		{
			var canvas = document.getElementById("canvas");
			var con = canvas.getContext("2d");
			
			con.strokeStyle = "black";
			con.strokeRect(0, 0, 300, 200);
			
			con.strokeStyle = "green";
			con.lineWidth = "1";
			
			con.beginPath();
			con.moveTo(192.5182, 45.4739);
			con.lineTo(195.2991, 47.7629);
			con.lineTo(204.7748, 46.6458);
			con.lineTo(210.6113, 50.1874);
			con.lineTo(219.6750, 71.4020);
			con.lineTo(233.2706, 78.8399);
			con.lineTo(231.3137, 89.6848);
			con.lineTo(226.8161, 90.2808);
			con.lineTo(213.6325, 80.1964);
			con.lineTo(204.7062, 79.7624);
			con.lineTo(196.1231, 71.9452);
			con.lineTo(155.9543, 81.3899);
			con.lineTo(155.7483, 54.2174);
			con.lineTo(147.4399, 48.6620);
			con.closePath();
			
			con.stroke();
		}
	</script>
</head>
<body>
	<canvas id = "canvas"
		height = "200"
		width = "300">
	<p>Canvas not supported!</p>
	</canvas>
</body>