doctype html
html(lang='en')
    head
        title Silencer
        link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css', integrity='sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO', crossorigin='anonymous')
        link(href='https://bootswatch.com/4/flatly/bootstrap.min.css', rel='stylesheet', integrity='sha384-+YpxMU1QQywaQtI3dMQAwIcu0vVDuOREjQPC59qblQHg9nTdcrUXMPnanUaldUnY', crossorigin='anonymous')
        link(rel='stylesheet', href='../css/index.css')
        link(rel='stylesheet', href='//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css')
        script(src='https://code.jquery.com/jquery-1.12.4.js')
        script(type = 'text/javascript', src = 'https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    body(ng-app='MEANapp')
        script(src='js/script.js')
        nav.navbar.navbar-expand-lg.navbar-dark(ng-controller='HeaderController')
            button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarTogglerDemo03', aria-controls='navbarTogglerDemo03', aria-expanded='false', aria-label='Toggle navigation', style='')
                span.navbar-toggler-icon
            a.navbar-brand(href='/protected') Silencer
            a(href='/protected')
                img.img-fluid(src='../assets/profesor.png', height='30', width='30')
            #navbarTogglerDemo03.collapse.navbar-collapse
                ul.navbar-nav.mr-auto.mt-2.mt-lg-0
                    li.nav-item.active
                        a.nav-link(href='/')
                            | Home
                            span.sr-only (current)
        .container-fluid
            .row.no-gutters
                .col-md-6.no-gutters(style='background-color: lightgreen;')
                    p display goes here
                .col-md-6(style='height: 100%;')
                    .row-md-2.row-lg-2(style='background-color: lightblue;')
                        div(ng-controller='FilterController')
                            .container-filter.container-blue(ng-view='')
                                div(autocomplete='on', ng-submit='filter()', name='SubmitForm')
                                    fieldset
                                        .form-group
                                            label.col-form-label(for='Start') Start
                                            input#Start.form-control(type='date', name='start', placeholder='Start Date', ng-model='SubmitForm1.start')
                                            small#Start-Help.form-text.text-help Start Date
                                            select#cityList
                                                option(value='noCity') ----Select City-----
                                                option(value='SanJose') San Jose
                                                option(value='LosAngeles') Los Angeles
                                                option(value='Hawthorne') Hawthorne
                                                option(value='Lorain') Lorain
                                                option(value='Aurora') Aurora
                                            //
                                                <label class="col-form-label" for="End">End</label>
                                                <input type="date" id="End" class="form-control" name="to"  placeholder="End Date" ng-model="SubmitForm1.end">
                                                <small id="End-Help" class="form-text text-help">Start End Date</small>
                                            br
                                            .ui-button.btn.btn-primary(onclick='generateStat()') Apply Filter
                    .col-no-gutters.h-50.row-md-10.flex-grow-1(style='background-color: honeydew;')
                        script.
                            $(function () {
                                $("#tabs").tabs();
                            });
                        #tabs
                            ul
                                li
                                    a(href='#tabs-1') About
                            #tabs-1

