<!DOCTYPE html>
<html lang = en>
<head>
    <title>Silencer</title>

    <link rel="stylesheet" href="../css/profile.css">
    <script type="text/javascript" src="../js/generalProfile.js"></script>

</head>

<body>

        <div class = "position-relative">
            <header>
                <span class = "logo">SILENCER</span>
                <span class = "welcome">
                <label>Welcome...</label>
                <span class = "username">UserName</span>
                </span>             
            </header>
            
        </div>

<div class="outer">
        <div class="button-container">
        <div class = "historic-button" onclick="goToIndex()">
            <p>View Historic Data</p>
        </div>

        <div class = "add-incident-button">
                <p>Add New Incident</p>
            </div>
        </div>
</div>

</body>
</html>

