doctype html
html
    head
        meta(name='viewport', content='initial-scale=1')
        link(rel='stylesheet', href='../css/login.css')
        link(rel='stylesheet', href='../jquery-ui-1.12.1.custom/jquery-ui.css')
    body
        h2(align='center')
            i Login Form
        form(action='/login', style='margin-top: 10px; box-shadow: 7px 7px #f1f1f1;' method = "POST")
            .container
                label(for='username')
                    b Username
                input(type='text', placeholder='Enter Username', name='username', required)
            .pwdcontainer
                label(for='psw')
                    b Password
                input(type='password', placeholder='Enter Password', name='password', required)
            div
                input(style='margin: 10px;', type='checkbox', checked='checked', name='remember')
                |  Remember me
            br
            div
                span.psw(style='margin-left: 30px;')
                    a(href='#') Forgot password ?
            div
                label
                    button(type='Submit') Login
