doctype html
html(lang='en')
	head
		title Silencer
		link(href="https://stackpath.bootstrapcdn.com/bootswatch/4.1.3/flatly/bootstrap.min.css", rel="stylesheet", integrity="sha384-gJWVjz180MvwCrGGkC4xE5FjhWkTxHIR/+GgT8j2B3KKMgh6waEjPgzzh7lL7JZT", crossorigin="anonymous")
		script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js', integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo', crossorigin='anonymous')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js', integrity='sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49', crossorigin='anonymous')
		script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js', integrity='sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy', crossorigin='anonymous')
		link(rel='stylesheet', href='../css/index.css')
		script(type = 'text/javascript', src = 'https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
		link(rel='shortcut icon', type='image/x-icon', href='docs/images/favicon.ico')
		link(rel='stylesheet', href='../css/map.css')
		link(rel='stylesheet', href='https://unpkg.com/leaflet@1.3.4/dist/leaflet.css', integrity='sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA==', crossorigin='')
		script(src='https://unpkg.com/leaflet@1.3.4/dist/leaflet.js', integrity='sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA==', crossorigin='')
	body(ng-app='MEANapp')
		script(src='js/script.js')
		nav.navbar.navbar-expand-lg.navbar-dark(ng-controller='HeaderController')
			button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarTogglerDemo03', aria-controls='navbarTogglerDemo03', aria-expanded='false', aria-label='Toggle navigation', style='')
				span.navbar-toggler-icon
			a.navbar-brand(href='/') Silencer
			a(href='/login')
				img.img-fluid(src='../assets/profesor.png', height='30', width='30')
			#navbarTogglerDemo03.collapse.navbar-collapse
				ul.navbar-nav.mr-auto.mt-2.mt-lg-0
					li.nav-item.active
						a.nav-link(href='#')
							| Home
							span.sr-only (current)
					li.nav-item
						a.nav-link(href='/incidents')
							| Incidents
					li.nav-item
						a.nav-link(href='/incidents/addData')
							| Add Entry
					li.nav-item
						a.nav-link(href='/dashboard')
							| Dashboard
					li.nav-item
						a.nav-link(href='/about')
							| About
					li.nav-item
						a.nav-link(href='/incidents/search')
							| Search
					li.nav-item
						a.nav-link(href='/login')
							| Login		
		.container-fluid
			.row.no-gutters
				.col-md-9.no-gutters(style='background-color: lightgreen;')
					#mapid
					script(src='../js/map.js')
				.col-md-3(style='height: 100%;')
					.row-md-2.row-lg-2(style='background-color: lightblue;')
						div(ng-controller='FilterController')
							.container-filter.container-blue(ng-view='')
								div(autocomplete='on', ng-submit='filter()', name='SubmitForm')
									fieldset
										.form-group
											label.col-form-label(for='Start') Start
											input#Start.form-control(type='date', name='start', placeholder='Start Date', ng-model='SubmitForm1.start')
											small#Start-Help.form-text.text-help Start Date
											select#cityList
												option(value='noCity') ----Select City-----
												option(value='SanJose') San Jose
												option(value='LosAngeles') Los Angeles
												option(value='Hawthorne') Hawthorne
												option(value='Lorain') Lorain
												option(value='Aurora') Aurora
											//
												<label class="col-form-label" for="End">End</label>
												<input type="date" id="End" class="form-control" name="to"  placeholder="End Date" ng-model="SubmitForm1.end">
												<small id="End-Help" class="form-text text-help">Start End Date</small>
											br
											.ui-button.btn.btn-primary(onclick='generateStat()') Apply Filter
					.col-no-gutters.h-50.row-md-10.flex-grow-1(style='background-color: honeydew;')
