doctype html
html(lang='en')
	head
		title Silencer
		link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css', integrity='sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO', crossorigin='anonymous')
		link(href='https://bootswatch.com/4/flatly/bootstrap.min.css', rel='stylesheet', integrity='sha384-+YpxMU1QQywaQtI3dMQAwIcu0vVDuOREjQPC59qblQHg9nTdcrUXMPnanUaldUnY', crossorigin='anonymous')
		link(rel='stylesheet', href='../css/index.css')
		link(rel='stylesheet', href='../jquery-ui-1.12.1.custom/jquery-ui.css')
		<style type="text/css">
		include ../css/index.css
		</style>
		script(type='text/javascript').
			function draw()
			{
			var canvas = document.getElementById("canvas");
			var con = canvas.getContext("2d");
			con.strokeStyle = "black";
			con.strokeRect(0, 0, 300, 200);
			con.strokeStyle = "green";
			con.lineWidth = "1";
			con.beginPath();
			con.moveTo(192.5182, 45.4739);
			con.lineTo(195.2991, 47.7629);
			con.lineTo(204.7748, 46.6458);
			con.lineTo(210.6113, 50.1874);
			con.lineTo(219.6750, 71.4020);
			con.lineTo(233.2706, 78.8399);
			con.lineTo(231.3137, 89.6848);
			con.lineTo(226.8161, 90.2808);
			con.lineTo(213.6325, 80.1964);
			con.lineTo(204.7062, 79.7624);
			con.lineTo(196.1231, 71.9452);
			con.lineTo(155.9543, 81.3899);
			con.lineTo(155.7483, 54.2174);
			con.lineTo(147.4399, 48.6620);
			con.closePath();
			con.stroke();
			}

			script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
	body(ng-app='MEANapp')
		script(src='js/script.js')
		nav.navbar.navbar-expand-lg.navbar-dark(ng-controller='HeaderController')
			button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarTogglerDemo03', aria-controls='navbarTogglerDemo03', aria-expanded='false', aria-label='Toggle navigation', style='')
				span.navbar-toggler-icon
			a.navbar-brand(href='/protected') Silencer
			a(href='/protected')
				img.img-fluid(src='../assets/profesor.png', height='30', width='30')
			#navbarTogglerDemo03.collapse.navbar-collapse
				ul.navbar-nav.mr-auto.mt-2.mt-lg-0
					li.nav-item.active
						a.nav-link(href='/')
							| Home
							span.sr-only (current)
					li.nav-item
						a.nav-link(href='#/account/search', ng-show='user.status') Search
					li.nav-item
						a.nav-link(href='#/account', ng-show='user.status') Account
					li.nav-item
						a.nav-link(href='#/account/login', ng-hide='user.status') Login
					li.nav-item
						a.nav-link(href='', ng-click='logout()', ng-show='user.status') Logout
					li.nav-item
						a.nav-link(href='', ng-show='user.status', ng-model='user.user.username') Welcome: {{user.user.username}}
		.container-fluid
			.row.no-gutters
				.col-md-9.no-gutters(style='background-color: lightgreen;')
					iframe(src='views/map.html', height='100%', width='100%')
				.col-md-3(style='height: 100%;')
					.row-md-2.row-lg-2(style='background-color: lightblue;')
						div(ng-controller='FilterController')
							.container-filter.container-blue(ng-view='')
								div(autocomplete='on', ng-submit='filter()', name='SubmitForm')
									fieldset
										.form-group
											label.col-form-label(for='Start') Start
											input#Start.form-control(type='date', name='start', placeholder='Start Date', ng-model='SubmitForm1.start')
											small#Start-Help.form-text.text-help Start Date
											select#cityList
												option(value='noCity') ----Select City-----
												option(value='SanJose') San Jose
												option(value='LosAngeles') Los Angeles
												option(value='Hawthorne') Hawthorne
												option(value='Lorain') Lorain
												option(value='Aurora') Aurora
											//
												<label class="col-form-label" for="End">End</label>
												<input type="date" id="End" class="form-control" name="to"  placeholder="End Date" ng-model="SubmitForm1.end">
												<small id="End-Help" class="form-text text-help">Start End Date</small>
											br
											button.btn.btn-primary(onclick='generateStat()') Apply Filter
					.col-no-gutters.h-50.row-md-10.flex-grow-1(style='background-color: honeydew;')
						iframe(src='views/canvas.html', height='100%', width='100%')
							// Stats view loaded here via $routeProvider in app.js
							// Angular Scripts
							script(src='//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.3/angular.min.js')
							script(src='//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.3/angular-route.min.js')
							script(src='//cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.6/ngStorage.min.js')
							// Bootstrap Features
							script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js', integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo', crossorigin='anonymous')
							script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js', integrity='sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ', crossorigin='anonymous')
							script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js', integrity='sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm', crossorigin='anonymous')