.navbar{
  background-color: #173d5b;
    position: relative;
}
.sidebar-expanded{
  background-color: #2a618e;
  margin: 0;
}
#sidebar-container{
  background-color: #2a618e;
}
.list-group{
  margin: 0;
}
.list-group-item {
  background-color: #3779a5;
  color: #fbfbfb;
}
form {
  border: 3px solid #f1f1f1; 
  width: 100%; 
  text-align: center;
  background-color: white;
}

button {
  padding: .4em 1em;
  display: inline-block;
  position: relative;
  line-height: normal;
  margin-right: .1em;
  cursor: pointer;
  vertical-align: middle;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  /* Support: IE <= 11 */
  overflow: visible;
}

input[type=text], input[type=password]{
  width : 60%;
  padding: 12px 20px;
  margin: 2%;
  display: inline-block;
  border: none;
  box-sizing: border-box;
  background: #f1f1f1;
}

hr {
    border: 1px solid lightgrey;
    margin-bottom: 35px;
}


.cancelbtn {
  padding: .4em 1em;
  display: inline-block;
  position: relative;
  line-height: normal;
  margin-right: .1em;
  cursor: pointer;
  vertical-align: middle;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


button:hover {
  opacity: 0.8;
}

.container {
  padding: 20px;
}
