<!--stats.html-->
<!DOCTYPE html>
<html>
<head>
	<title>Stats or Details</title>

	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body onload="setStat();">
    <script src="../js/script.js"></script>
    <table id="stat-table" class="table table-bordered">
        <tbody>
        <tr>
            
                <td>Date</td>
                <td id="date"></td></tr>
                <tr>
                <td>State</td>
                <td id="state"></td>
                </tr>
                <tr>
                <td>City/County</td>
                <td id="city"></td></tr>
                <tr>
                <td>Address</td>
                <td id="address"></td>
                </tr>
                <tr>
                <td>Number Killed</td>
                <td id="numbersKilled"></td>
                </tr>
                <tr>
                <td>Number Injured</td>
                <td id="injured"></td>
                </tr>
                <tr>
                <td>Incident URL</td>
                <td id="incidentUrl"></td>
                </tr>
                <tr>
                <td>Source URL</td>
                <td id="sourceurl"></td>
                </tr>
                
                <tr>
                <td >Congressional District</td>
                <td id="congressionalDistrict" ></td>
                </tr>
                <tr>
                <td>Gun Stolen</td>
                <td id = "stolen"></td>
                </tr>
                <tr>
                <td>Gun Type</td>
                <td id="gunType"></td>
                </tr>
        
        </tbody>
        </table>

        </body>
        </html>